---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about me — sugiro.ai" description="Lula Rocha is a designer, educator, and founder of Rocha Design and Metapix, with over 30 years of experience in visual identity, graphic design, and web design." footerColClass="col-span-12 desktop:col-start-4 desktop:col-span-2">
  <main class="page-container">
    <!-- Site Title -->
    <section class="col-span-12 desktop:col-span-3">
      <a
        href="/"
        class="site-title"
      >
        sugiro.ai
      </a>
    </section>

    <!-- Content -->
    <section class="col-span-12 desktop:col-span-6 mt-4">
      <h2 class="section-heading">about me</h2>
      <ul class="body-text list-none">
        <li class="pb-4">Hi, I'm Lula Rocha, here is my short resume:</li>
        <li class="pb-4">Founder: Rocha Design 1995, Metapix 2011.</li>
        <li class="pb-4">Over 30 years of experience in Visual Identity, Graphic Design, and Web Design projects.</li>
        <li class="pb-4">Master of Arts (MA) in Industrial Design from Central Saint Martins College of Art & Design, London, <span style="white-space: nowrap">1989–1991</span>.</li>
        <li class="pb-4">Bachelor of Arts (BA) in Industrial Design and Visual Communication from PUC-Rio, <span style="white-space: nowrap">1982–1988</span>.</li>
        <li class="pb-4">Teacher in the Undergraduate Design Program at PUC-Rio since 1989.</li>
        <li class="pb-4">Teacher in the Graduate Program in Textile Design at SENAI/CETIQT-RJ, <span style="white-space: nowrap">2012–2013</span>.</li>
        <li class="pb-4">Teacher at EARJ American School of Rio de Janeiro <span style="white-space: nowrap">2012–2014</span>.</li>
        <li>Over 700 video lessons on Photoshop, Illustrator, and InDesign, created for Metapix courses. (<a href="https://www.youtube.com/@metapixvideos" target="_blank" class="text-link">available on YouTube</a>)</li>
      </ul>
    </section>
  </main>
</Layout>
