---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />
  <main class="grid grid-cols-12 gap-4">
    <section class="col-span-12 desktop:col-span-6">
      <h2>Welcome to Sugiro</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </section>
  </main>
</Layout>
